<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>rahulchandra</servlet-name>
    <jsp-file>/welcome.jsp</jsp-file>
    <init-param>
      <param-name>dname</param-name>
      <param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>rahulchandra</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
</web-app>